<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:text="#{home.title}">Home</title>
</head>
<body>
<th:block sec:authorize="isAuthenticated()">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info" th:insert="~{shared/_user_info :: copy}"></section>
    <section class="micropost_form">
      <form th:replace="~{shared/_micropost_form :: copy(${micropost})}"></form>
    </section>
  </aside>
  <div class="col-md-8">
    <h3 th:text="#{home.feed}">Micropost Feed</h3>
    <div th:replace="~{shared/_feed :: copy(${microposts})}"></div>
  </div>
</div>
</th:block>
<th:block sec:authorize="!isAuthenticated()">
<div class="center jumbotron">
  <h1 th:text="#{home.welcome}">Home</h1>
  <h2>
    This is the home page for the
    <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html" target="_blank">Spring MVC Tutorial</a> sample application.
  </h2>
  <a th:href="@{/signup}" th:text="#{home.signup}" class="btn btn-lg btn-primary">Sign up now!</a>
</div>
</th:block>
</body>
</html>