<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div th:replace="views/layout/header :: header"></div>
		</nav>
	
		<div layout:fragment="body"></div>
	
		<footer>
			<div th:replace="views/layout/footer :: footer"></div>
		</footer>
	
	</body>
	
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</html>
